@model WebCoiner.Models.Dashboard


<span class="navbar-text" style="color:#b9b9b9;font-size:13px;    font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;">
    Avalaibe Tokens <br /> <strong style="color:#ffffff">@Model.Tokens</strong> 
</span>
