@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('RobotoRegular.eot');
    src: url('RobotoRegular.eot') format('embedded-opentype'),
         url('RobotoRegular.html') format('woff2'),
         url('RobotoRegular.woff') format('woff'),
         url('RobotoRegular.ttf') format('truetype'),
         url('RobotoRegular.svg#RobotoRegular') format('svg');
}
